aniso8601                 
APScheduler               
async-timeout             
attrs                     
blinker                   
CacheControl              
cachetools                
certifi                   
cffi                      
charset-normalizer        
click                     
cryptography              
dnspython                 
firebase-admin            
Flask                     
Flask-Cors                
flask-restx               
fuzzywuzzy                
google-api-core           
google-api-python-client  
google-auth               
google-auth-httplib2      
google-cloud-core         
google-cloud-firestore    
google-cloud-storage      
google-crc32c             
google-resumable-media    
googleapis-common-protos  
grpcio                    
grpcio-status             
httplib2                  
idna                      
importlib_metadata        
importlib_resources       
itsdangerous              
Jinja2                    
jsonschema                
jsonschema-specifications 
kafka-python              
Levenshtein               
MarkupSafe                
marshmallow               
msgpack                   
packaging                 
pip                       
proto-plus                
protobuf                  
pyasn1                    
pyasn1_modules            
pycparser                 
PyJWT                     
pymongo                   
pyparsing                 
python-Levenshtein        
pytz                      
rapidfuzz                 
redis                     
referencing               
requests                  
rpds-py                   
rsa                       
setuptools                
six                       
tzlocal                   
uritemplate               
urllib3                   
Werkzeug                  
wheel                     
zipp                      